<h1> test!!! </h1>

<div id="keyword_search_box">

<%= form_tag geos_path, :method => 'get' do %>
    <%= text_field_tag :keyword, params[:keyword] %>
    <%= submit_tag "Search" %>
<% end %>

<% if params.has_key?(:keyword) && params[:keyword] != "" %>
	<ul>
		<% $twitter.search(params[:keyword], :result_type => "recent").take(6).each do |tweet| %>
			<li>
			<div><%= tweet.text %></div>
			</li>
		<% end %>
	</ul>
<% end %>


</div>





