<h1> test!!! </h1>

<div id="tweets">

<%= form_tag geos_path, :method => 'get' do %>
    <%= text_field_tag :movie, params[:tweet] %>
    <%= submit_tag "Search", :name => nil %>
    <br><br><br>

  <ul>
    <% client.search("marry me", :result_type => "recent").take(3).collect do |tweet|
  "#{tweet.user.screen_name}: #{tweet.text}" %>
 
     
  </ul>
</div>




<% end %>
<% end %>